*{
    margin: 0;
    background: rgb(4, 4, 53);
}
body {
    width: 100vw;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh 2vw 0vh 2vw;
    color: aliceblue;
    font-size: 5vh;
}
.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao {
    padding: 2vw;
}
.botao {
    padding: 1vh 1vw;
    font-size: 2vh;
    background-color: rgb(164, 179, 192);
    color: rgb(4, 4, 53);
    border-radius: 2px;
}
.idade  {
    padding: 0.6vh 1vw;
    font-size: 2vh;
    background-color: rgb(164, 179, 192);
    color: rgb(4, 4, 53);
    border-radius: 2px;
}